<ion-header>
  <ion-toolbar>
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="secondary">Enter the Information</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pet Name</ion-label>
    <ion-input id="in-name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pet Species</ion-label>
    <ion-input id="in-species"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pet Age</ion-label>
    <ion-input id="in-age"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pet Sex</ion-label>
    <ion-input id="in-sex"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pet Phone No.</ion-label>
    <ion-input id="in-phone"></ion-input>
  </ion-item>

  <br>
  &nbsp;
  <ion-button id="btn-add">add</ion-button>
  &nbsp;
  <ion-button color="danger" fill="outline" id="btn-cancel">clear</ion-button>
</ion-content>